html {
    scroll-behavior: smooth;
}

body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-image: url(imagens/wallpaper/background.webp); 
    background-size: cover;
}

header {
    text-align: center;
}

h2 {
    color:rgb(16, 212, 212);
}

h1 {
    color: rgb(255, 255, 255);
}

nav {
    margin-top: -5px;
}

strong {
    color: rgb(118, 8, 221);
}

em {
    color: rgb(187, 23, 146);
}

ul#menu li {
    text-align: center;
    display: inline;
}

ul#list li {
    list-style: none;
    margin-left: -40px;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    font-size: 15px;
    margin-left: -20px;
    margin-right: 20px;
}

#image {
    width: 350px;
    border-radius: 20px;
    border: solid 2px rgb(15, 163, 163);
    color: #FFFFFF;
}

main {
    width: 85%;
    background-color: rgba(0, 0, 0, 0.308);
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
    color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 20px;
}

main p {
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
}

#general {
    background-color: rgba(2, 4, 15, 0.842);
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 40%;
    margin-left: 50%;
    transform: translate(-50%);
    border: solid rgb(14, 141, 158) 2px;
}

ul#social li {
    white-space: nowrap;
    display: inline;
    margin-left: -22px;
    margin-right: 22px;
}

footer a {
    color: whitesmoke;
    font-weight: bold;
}
